[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pylint = "*"
ipython = "*"
twine = "*"
sphinx = "*"
sphinx-autobuild = "*"
recommonmark = "*"
sphinx-rtd-theme = "*"

[packages]
requests = "==2.19.1"
obonet = "*"
click = "*"

[requires]
python_version = "3.6"
