[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pylint = "*"
ipython = "*"
twine = "*"
sphinx = "*"
sphinx-autobuild = "*"
recommonmark = "*"
sphinx-rtd-theme = "*"

[packages]
requests = "*"
obonet = "*"
click = "*"

[requires]
python_version = "3.7"
