[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest = "*"
pylint = "*"


[packages]

requests = "*"
obonet = "*"
ols_client = {git = "https://github.com/opentargets/ols-client.git"}


[requires]

python_version = "3.6"
